@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --font-family: 'Public Sans', sans-serif;
    --size-texto: 16px;
    --d-desktop:1440px;
    --d-netbook:1336px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    
}
main{
    overflow: hidden;
}
.container{
    max-width: var(--d-desktop);
    margin: 0 auto; 
}

/* Geral */
a{
    text-decoration:none;
    
}
p{
    color: var(--grayish-blue);
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--dark-blue);
    font-weight: 300;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
}
h6{
    font-size: 0.85em;
    color: var(--grayish-blue);
}
img{
    max-width: 100%;
    display: block;
}

/* Header */

header{
    width: 100%;
    background-color: var(--white); 
    position: relative;
    z-index: 999;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: var(--d-desktop);
    margin: 0 auto;
}
header nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;    
}
header nav ul li{
    padding: 0 1.25rem;
}
header nav ul a{
    padding:1rem 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: none;
    color: var(--grayish-blue);
    transition: .3s linear;
    position: relative;
    
}
header nav ul a::before{
    content:'';
    width:0;
    height:5px;
    left:50%;
    top:100%;
    display:inline-block;
    transition: all 0.3s;
    background:linear-gradient(to right, var(--lime-green)0%,var(--bright-cyan)100%);
    position:absolute;
}
header nav ul a:hover::before{
    left: 0%;
    width: 100%;
}
/* banner */
.banner{
    background-color: var(--very-light-gray);
    padding: 10rem 0;
    /* overflow-x: hidden; */
}

.grid-banner{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-banner div{
    position: relative;
    z-index: 0;
}
.grid-banner img{
    position: absolute;
    top: -115%;
    right: -30%;
    z-index: -1
    ;
}

/* services */
.services{
    background-color: var(--light-grayish-blue);
    padding: 4rem 0;
}
.grid-services {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    padding-left: 0;
    list-style: none;
    margin-top: 3rem ;
}
.grid-services img{
    margin: 2rem 0;
}
/* latest-article */
.latest-article{
    padding: 4rem 0;
    background-color: var(--very-light-gray);
}
.latest-article-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}

.latest-article-grid div{
    background-color: var(--white);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}
.latest-article-grid p{
    font-size: 1rem;
}
.latest-article-grid img{
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 100%;

}
.latest-article-grid .info{
    margin: 2rem;
}
.latest-article-grid .info a:hover h4{
    color: var(--lime-green);
}
/* footer */

footer{
    background-color: var(--dark-blue);
    padding: 2rem 0;
}
footer .logo-rodape{
    filter: contrast(1.5)brightness(0.5)hue-rotate(166deg)invert(1);
}
footer a{
    display: inline-block;
}
footer a:hover{
    color: var(--lime-green);
}
footer .footer-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
footer .footer-grid div:first-child,footer .footer-grid div:last-child{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 0.313rem 0;
}
footer .footer-grid .icone:hover{
    filter: invert(60%) sepia(100%) saturate(341%) hue-rotate(83deg) brightness(92%) contrast(94%);
}
footer .footer-grid .flex{
    flex-direction: row !important;
}
footer .footer-grid .flex a{
    padding: 5px;
}
footer nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
}
footer nav a{
    color: var(--white);
    padding: .625rem;
}

.btn{
    display: inline-block;
    font-family: var(--font-family);
    font-size: var(--size-texto);
    padding: 0.625rem 2rem;
    color: var(--white);
    border-radius: 1.25rem;
    background:linear-gradient(to right, var(--lime-green)0%,var(--bright-cyan)100%);
}
.btn:hover{
   filter: brightness(1.1);
   color: var(--white);
}

@media screen and (max-width: 1440px){
    .container{
       padding:0 5rem; 
    }
    .banner{
        padding: 9rem 0;
    }
}
@media screen and (max-width: 1242px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h6{
        font-size: 0.85em;
        color: var(--grayish-blue);
    }
    .banner{
        padding: 7rem 0;
    }
    .latest-article-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 1080px){
    
    .container{
        width: 100%;
        padding:0 1rem; 
     }
    .banner{
        padding: 5rem 0;
     }
    .grid-banner{
        grid-template-columns: 1fr 1fr;
    }
    .grid-banner img{
       top: -64%;
       max-width: 93%;
       right: 0%;
    }
    .services{
        padding: 2.5rem 0;
    }
    .services h2, .services p{
        text-align: center;
    }
     .grid-services{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
     }
     .grid-services img{
         margin: 1rem auto;
     }
     .grid-services h3,  .grid-services p{
        text-align: center;
     }
     .latest-article{
        padding: 2.5rem 0;
     }
     .latest-article-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 800px){
    header{
        position: fixed;
    }
    header nav .btn{
        display: none;
    }
    header nav .btn-mobile{
        padding: 0.625rem;
    }
    header nav .btn-mobile span{
        width: 30px;
        height: 2px;
        display: block;
        margin: 0.4rem;
        background-color: var(--dark-blue);
        /* box-shadow: 0 8px var(--dark-blue),0 -8px var(--dark-blue); */
    }
    header nav .btn-mobile.active span:nth-child(1){
        display: none;
    }
    header nav .btn-mobile.active span:nth-child(2){
        transform: rotate(45deg) translate3d(5px, 4px, 0px);
    }
    header nav .btn-mobile.active span:nth-child(3){
        transform: rotate(-45deg) translate3d(2px, 0px, 0px);
    }
    header nav ul{
        display: none;
    }
    header nav ul.active{
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: block;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 10px);
        width: 90%;
        background: #fff;
        padding: 2rem;
        border-radius: 10px;
    }
    header nav ul li {
        padding: 0.625rem;
    }
    header nav ul li a{
        color: var(--dark-blue);
        padding: 0.313rem 0;
    }
    .banner{
        padding: 5rem 0;
     }
    .grid-banner{
        grid-template-columns: 1fr 1fr;
    }
    .grid-banner img{
        top: -40%;
        max-width: 121%;
        right: -30%;
    }   
}

@media screen and (max-width: 500px){
    .grid-banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .grid-banner img{
        max-width: 100%;
        right: 0;
        top: -80px;
    }
    .grid-banner h1,.grid-banner p{
        text-align: center;
    }
    .grid-banner div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .grid-banner img:first-child{
        position: relative;
        max-width: 120%;
        right: -10%;
        top:0px;
    }
    .grid-services{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        
     }
    
    .latest-article{
        padding: 2rem 0;
     }
     .latest-article-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .latest-article-grid .info {
        margin: 1rem;
    }
    footer .footer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer-grid div{
        margin: 0.625rem 0;
    }
    footer .footer-grid div .btn{
        margin-bottom: 1rem;
    }
    footer nav {
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    footer .footer-grid div:first-child, footer .footer-grid div:last-child {
        align-items: center;
    }
}

